{#
 # Formie Paragraph Field Settings
 #
 # @link      https://lindemannrock.com
 # @copyright Copyright (c) 2025 LindemannRock
 #}

{% import "_includes/forms" as forms %}

{% if settings is defined and settings.hasErrors() %}
    {{ include('lindemannrock-base/_partials/error-summary', {
        errors: settings.getErrors(),
        translationCategory: 'formie-paragraph-field',
        linkMode: 'field-id',
    }) }}
{% endif %}

<fieldset class="first">
	<h2>{{ 'General Settings'|t('formie-paragraph-field') }}</h2>

	{% include 'lindemannrock-base/_partials/field-plugin-name' with {
        settings: settings,
        pluginHandle: 'formie-paragraph-field',
    } only %}
</fieldset>

<hr>

<fieldset>
	<h2>{{ 'Default Field Settings'|t('formie-paragraph-field') }}</h2>
	<p class="light">{{ 'These settings will be used as defaults when creating new paragraph fields.'|t('formie-paragraph-field') }}</p>

	{{ forms.selectField({
        label: 'Default Text Size'|t('formie-paragraph-field'),
        instructions: 'The default text size for new paragraph fields'|t('formie-paragraph-field'),
        id: 'defaultTextSize',
        name: 'defaultTextSize',
        value: settings.defaultTextSize ?? 'textBase',
        options: settings.getAvailableTextSizes()|map((config, key) => {
            value: key,
            label: config.label|t('formie-paragraph-field')
        })|values,
        warning: settings.isOverriddenByConfig('defaultTextSize') ? 'This is being overridden by the `defaultTextSize` setting in the `config/formie-paragraph-field.php` file.'|t('formie-paragraph-field'),
        disabled: settings.isOverriddenByConfig('defaultTextSize'),
        errors: settings.getErrors('defaultTextSize')
    }) }}
</fieldset>

{% include 'lindemannrock-base/_components/plugin-credit' %}
